.collectionpane {
  height: 100vh;
  width: 80vw;
  background: var(--lightgrey);
}

.collectionpane-header {
  height: 7.5vh;
  width: 100%;
  background: white;
  color: rgb(59, 59, 59);
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}

.collectionpane-body {
  display: flex;
  flex-direction: column;
}

.collectionpane-list {
  width: 100%;
  padding-left: 2rem;
}

.collectionpane-list-header {
  height: 4rem;
  width: 90%;
  border-radius: 0.8rem;
  background: var(--lightgrey);
  align-self: center;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}